poicondai/trunk/src/main/java/CaseCount.asmx.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
			xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
			xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
			xmlns:tns="http://ciber.com/" 
			xmlns:s="http://www.w3.org/2001/XMLSchema" 
			xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
			targetNamespace="http://ciber.com/" 
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CaseCount per day based upon CallType and Output Type</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ciber.com/">
      <s:element name="PerDayCaseCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SystemUserName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SystemPWD" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="OrgList" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="StateList" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ZipList" type="s:string"/>
            <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime"/>
            <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime"/>
            <s:element minOccurs="0" maxOccurs="1" name="StartHour" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="EndHour" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ClinicalEffect" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CallVolumeType" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="BooleanOperator" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="OutputType" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerDayCaseCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PerDayCaseCountResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any minOccurs="2"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerDayCaseCountSoapIn">
    <wsdl:part name="parameters" element="tns:PerDayCaseCount"/>
  </wsdl:message>
  <wsdl:message name="PerDayCaseCountSoapOut">
    <wsdl:part name="parameters" element="tns:PerDayCaseCountResponse"/>
  </wsdl:message>
  <wsdl:portType name="CaseCountWebServiceSoap">
    <wsdl:operation name="PerDayCaseCount">
      <wsdl:input message="tns:PerDayCaseCountSoapIn"/>
      <wsdl:output message="tns:PerDayCaseCountSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CaseCountWebServiceSoap" type="tns:CaseCountWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PerDayCaseCount">
      <soap:operation soapAction="http://ciber.com/PerDayCaseCount" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CaseCountWebServiceSoap12" type="tns:CaseCountWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PerDayCaseCount">
      <soap12:operation soapAction="http://ciber.com/PerDayCaseCount" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CaseCountWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">CaseCount per day based upon CallType and Output Type</wsdl:documentation>
    <wsdl:port name="CaseCountWebServiceSoap" binding="tns:CaseCountWebServiceSoap">
      <soap:address location="http://12.193.64.222:83/LinkWebService/CaseCount.asmx"/>
    </wsdl:port>
    <wsdl:port name="CaseCountWebServiceSoap12" binding="tns:CaseCountWebServiceSoap12">
      <soap12:address location="http://12.193.64.222:83/LinkWebService/CaseCount.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
