SecureSimpleTransfer/schema/TransferService/TransferService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://transfer.cagrid.org/TransferService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns0="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns3="http://transfer.cagrid.org/TransferService/Context/types" xmlns:ns0="http://transfer.cagrid.org/Transfer" xmlns:ns2="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns1="http://transfer.cagrid.org/TransferService/types" xmlns:ns4="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" name="TransferService" targetNamespace="http://transfer.cagrid.org/TransferService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://transfer.cagrid.org/TransferService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://transfer.cagrid.org/TransferService/Context/types" schemaLocation="./TransferServiceContextTypes.xsd" />
      <import namespace="http://transfer.cagrid.org/Transfer" schemaLocation="./caGrid_Transfer.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://transfer.cagrid.org/TransferService/types" schemaLocation="./TransferServiceTypes.xsd" />
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.xsd" schemaLocation="../wsrf/lifetime/WS-ResourceLifetime.xsd" />
      <element name="StoreFileRequest">
        <complexType>
          <sequence>
            <element name="filename" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="StoreFileResponse">
        <complexType>
          <sequence>
            <element ref="ns3:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveFileRequest">
        <complexType>
          <sequence>
            <element name="filename" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveFileResponse">
        <complexType>
          <sequence>
            <element ref="ns3:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="StoreDataRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="StoreDataResponse">
        <complexType>
          <sequence>
            <element ref="ns3:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RetrieveDataRequest">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RetrieveDataResponse">
        <complexType>
          <sequence>
            <element ref="ns3:TransferServiceContextReference" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ViewDirectoryRequest">
        <complexType>
          <sequence>
            <element name="directory" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="ViewDirectoryResponse">
        <complexType>
          <sequence>
            <element name="response" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateDirectoryRequest">
        <complexType>
          <sequence>
            <element name="directory" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateDirectoryResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RemovedirectoryRequest">
        <complexType>
          <sequence>
            <element name="directory" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RemovedirectoryResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="RemoveFileRequest">
        <complexType>
          <sequence>
            <element name="filename" type="xs:string" minOccurs="1" maxOccurs="1" />
          </sequence>
        </complexType>
      </element>
      <element name="RemoveFileResponse">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="TransferServiceResourceProperties">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="StoreFileRequest">
    <part name="parameters" element="tns:StoreFileRequest" />
  </message>
  <message name="StoreFileResponse">
    <part name="parameters" element="tns:StoreFileResponse" />
  </message>
  <message name="RetrieveFileRequest">
    <part name="parameters" element="tns:RetrieveFileRequest" />
  </message>
  <message name="RetrieveFileResponse">
    <part name="parameters" element="tns:RetrieveFileResponse" />
  </message>
  <message name="StoreDataRequest">
    <part name="parameters" element="tns:StoreDataRequest" />
  </message>
  <message name="StoreDataResponse">
    <part name="parameters" element="tns:StoreDataResponse" />
  </message>
  <message name="RetrieveDataRequest">
    <part name="parameters" element="tns:RetrieveDataRequest" />
  </message>
  <message name="RetrieveDataResponse">
    <part name="parameters" element="tns:RetrieveDataResponse" />
  </message>
  <message name="ViewDirectoryRequest">
    <part name="parameters" element="tns:ViewDirectoryRequest" />
  </message>
  <message name="ViewDirectoryResponse">
    <part name="parameters" element="tns:ViewDirectoryResponse" />
  </message>
  <message name="CreateDirectoryRequest">
    <part name="parameters" element="tns:CreateDirectoryRequest" />
  </message>
  <message name="CreateDirectoryResponse">
    <part name="parameters" element="tns:CreateDirectoryResponse" />
  </message>
  <message name="RemovedirectoryRequest">
    <part name="parameters" element="tns:RemovedirectoryRequest" />
  </message>
  <message name="RemovedirectoryResponse">
    <part name="parameters" element="tns:RemovedirectoryResponse" />
  </message>
  <message name="RemoveFileRequest">
    <part name="parameters" element="tns:RemoveFileRequest" />
  </message>
  <message name="RemoveFileResponse">
    <part name="parameters" element="tns:RemoveFileResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="TransferServicePortType" wsrp:ResourceProperties="tns:TransferServiceResourceProperties">
    <operation name="storeFile">
      <input message="tns:StoreFileRequest" wsa:Action="http://transfer.cagrid.org/TransferService/StoreFileRequest" />
      <output message="tns:StoreFileResponse" wsa:Action="http://transfer.cagrid.org/TransferService/StoreFileResponse" />
    </operation>
    <operation name="retrieveFile">
      <input message="tns:RetrieveFileRequest" wsa:Action="http://transfer.cagrid.org/TransferService/RetrieveFileRequest" />
      <output message="tns:RetrieveFileResponse" wsa:Action="http://transfer.cagrid.org/TransferService/RetrieveFileResponse" />
    </operation>
    <operation name="storeData">
      <input message="tns:StoreDataRequest" wsa:Action="http://transfer.cagrid.org/TransferService/StoreDataRequest" />
      <output message="tns:StoreDataResponse" wsa:Action="http://transfer.cagrid.org/TransferService/StoreDataResponse" />
    </operation>
    <operation name="retrieveData">
      <input message="tns:RetrieveDataRequest" wsa:Action="http://transfer.cagrid.org/TransferService/RetrieveDataRequest" />
      <output message="tns:RetrieveDataResponse" wsa:Action="http://transfer.cagrid.org/TransferService/RetrieveDataResponse" />
    </operation>
    <operation name="viewDirectory">
      <input message="tns:ViewDirectoryRequest" wsa:Action="http://transfer.cagrid.org/TransferService/ViewDirectoryRequest" />
      <output message="tns:ViewDirectoryResponse" wsa:Action="http://transfer.cagrid.org/TransferService/ViewDirectoryResponse" />
    </operation>
    <operation name="createDirectory">
      <input message="tns:CreateDirectoryRequest" wsa:Action="http://transfer.cagrid.org/TransferService/CreateDirectoryRequest" />
      <output message="tns:CreateDirectoryResponse" wsa:Action="http://transfer.cagrid.org/TransferService/CreateDirectoryResponse" />
    </operation>
    <operation name="removedirectory">
      <input message="tns:RemovedirectoryRequest" wsa:Action="http://transfer.cagrid.org/TransferService/RemovedirectoryRequest" />
      <output message="tns:RemovedirectoryResponse" wsa:Action="http://transfer.cagrid.org/TransferService/RemovedirectoryResponse" />
    </operation>
    <operation name="removeFile">
      <input message="tns:RemoveFileRequest" wsa:Action="http://transfer.cagrid.org/TransferService/RemoveFileRequest" />
      <output message="tns:RemoveFileResponse" wsa:Action="http://transfer.cagrid.org/TransferService/RemoveFileResponse" />
    </operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns0:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns0:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
  </portType>
</definitions>

